:root{ /*change the colors variables name*/
    --manatee: #8e9aafff;
    --languid-lavender: #cbc0d3ff;
    --pale-pink: #efd3d7ff;
    --pale-purple-pantone: #feeafaff;
    --lavender-web: #dee2ffff;
}
* {
    text-align: center;
    box-sizing: border-box;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
/*
.header{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    grid-area: 1 / 1 / span 3 / span 5;
    background-color: var(--pale-pink);
    color: black;
    font-family: Arial Rounded MT;
}

#my-name.header{
    grid-area: 1 / 1 / span 3 / span 2;
    font-size: 70px;
    margin: auto;
    padding: 10px;
}
#profession.header{
    grid-area: 1 / 4 / span 3 / span 2;
    font-size: 50px;
    margin: auto;
    padding: 10px;
}
#facepic.header{
    grid-area: 1 / 3 / span 3 / span 1;
    border: 7px double var(--manatee);
    border-radius: 200px;
}*/
.subject{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-area: 4 / 1 / span 1 / span 5;
    background-color: var(--languid-lavender);
    float: left;
    font-family: Arial Rounded MT;
    font-size: 30px;
    border: 3px solid darkslategray;
    border-radius: 5px;
    margin: 5px;
    padding: 15px;
}

#who-am-i.subject{grid-area: 4 / 1 / span 1 / span 1;}
#work-experience.subject{grid-area: 4 / 2 / span 1 / span 1;}
#education.subject{grid-area: 4 / 3 / span 1 / span 1;}
#skillset.subject{grid-area: 4 / 4 / span 1 / span 1;}
#hobbies.subject{grid-area: 4 / 5 / span 1 / span 1;}

.details{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-area: 6 / 1 / span 4 / span 5;
    background-color: var(--lavender-web);
    padding: 10px;
}

p.details{
    background-color: var(--lavender-web);
    float: left;
    padding: 15px;
    font-family: Calibri;
    font-size: 25px;
    border: 3px solid darkslategray;
    border-radius: 5px;
    margin: 5px;
    height: auto;
    display: inline;
    background-color: var(--pale-purple-pantone);
}
p::first-line {font-size: 29px;}

#box-1.details{grid-area: 6 / 1;}
#box-2.details{grid-area: 6 / 2;}
#box-3.details{grid-area: 6 / 3;}
#box-4.details{grid-area: 6 / 4;}
#box-5.details{grid-area: 6 / 5;}

#pic1.details{grid-area: 7 / 1;}
#pic2.details{grid-area: 7 / 2;}
#pic3.details{grid-area: 7 / 3;}
#pic4.details{grid-area: 7 / 4;}
#pic5.details{grid-area: 7 / 5;}

img.details{max-width:100%;height:auto;}

.footer{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-area: 11 / 1 / span 1 / span 5;
    padding: 10px;
    /*height: 100px;*/
}

h4.footer{
    background-color: white;
    float: left;
    font-family: Calibri;
    padding: 10px;
    font-size: 20px;
    border-top: 3px solid darkred;
    margin: 5px;
}

#foot-1.footer{grid-area: 11 / 1 / span 1 / span 1;}
#foot-2.footer{grid-area: 11 / 2 / span 1 / span 1;}
#foot-3.footer{grid-area: 11 / 3 / span 1 / span 1;}
#foot-4.footer{grid-area: 11 / 4 / span 1 / span 1;}

.server-side{
    grid-row-start: 14;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 5px;
    font-family:Calibri;
    font-size: 15px;
    color: navy;
}
#lecture8.server-side{
    grid-column-start: 1;
    background-color: lavender;
}
#lecture9.server-side{
    grid-column-start: 2;
    background-color: lavender;
}

#assignment8.server-side{
    grid-column-start: 3;
    background-color: lavender;
}

h1,h2,h3,h4,ul.assignment8{
    float: left;
    padding: 15px;
    font-family: Calibri;
    font-size: 25px;
    margin: 5px;
}

/*--------------------------------Small Screens--------------------------------------------------------------------*/

@media only screen and (max-width:1100px){
    /*.header{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    grid-area: 1 / 1 / span 2 / span 3;
    color: black;
    font-family: Arial Rounded MT;
    }
    #my-name.header{
    grid-area: 1 / 1 / span 2 / span 1;
    font-size: 50px;
    margin: auto;
    padding: 10px;
    }
    #profession.header{
    grid-area: 1 / 3 / span 2 / span 1;
    font-size: 30px;
    margin: auto;
    padding: 10px;
    }
    #facepic.header{
    grid-area: 1 / 2 / span 2 / span 1;
    border: 7px double var(--manatee);
    border-radius: 200px;
    }*/

    .subject{
    display: grid;
    grid-template-columns: auto;
    grid-area: 3 / 1 / span 1 / span 3;
    float: left;
    font-family: Arial Rounded MT;
    font-size: 25px;
    border: 3px solid darkslategray;
    border-radius: 5px;
    margin: 5px;
    padding: 15px;
    }
    #who-am-i.subject{grid-area: 4 / 1;}
    #work-experience.subject{grid-area: 5 / 1;}
    #education.subject{grid-area: 6 / 1;}
    #skillset.subject{grid-area: 7 / 1;}
    #hobbies.subject{grid-area: 8 / 1;}

    .details{
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    max-width: 1100px;
    }
    p.details{
    float: left;
    padding: 15px;
    font-family: Calibri;
    font-size: 20px;
    border: 3px solid darkslategray;
    border-radius: 5px;
    margin: 5px;
    height: auto;
    }
    #box-1.details,pic1.details{grid-area: 9 / 1;}
    #box-2.details,pic2.details{grid-area: 11 / 1;}
    #box-3.details,pic3.details{grid-area: 13 / 1;}
    #box-4.details,pic4.details{grid-area: 15 / 1;}
    #box-5.details,pic5.details{grid-area: 17 / 1;}

    #pic1.details{grid-area: 10 / 1;}
    #pic2.details{grid-area: 12 / 1;}
    #pic3.details{grid-area: 14 / 1;}
    #pic4.details{grid-area: 16 / 1;}
    #pic5.details{grid-area: 18 / 1;}

    .footer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-area: 19 / 1 / span 1 / span 3;
    padding: 10px;
    }
    h4.footer{
    background-color: white;
    float: left;
    font-family: Calibri;
    padding: 10px;
    font-size: 15px;
    border-top: 3px solid darkred;
    margin: 5px;
    }
    #foot-1.footer{grid-area: 19 / 1}
    #foot-2.footer{grid-area: 19 / 2}
    #foot-3.footer{grid-area: 19 / 3}
    #foot-4.footer{grid-area: 19 / 4}
}/*--close @media for small screens--*/
