<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/CV.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV-Lior Rasuli</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/CV.js') }}"></script>
</head>
<body onload="aboutMe()">
<div class="grid-container">

    {% include 'header.html' %}

    <div class="subject">
        <h3 id="who-am-i" class="subject" onclick="aboutMe()">Who Am I?</h3>
        <h3 id="work-experience" class="subject" onclick="work()">Work Experience</h3>
        <h3 id="education" class="subject" onclick="education()">Education </h3>
        <h3 id="skillset" class="subject" onclick="skills()">Skillset </h3>
        <h3 id="hobbies" class="subject" onclick="hobbies()">Hobbies & Interest </h3>
    </div><!--close div class="subject"-->

    <div class="details">
        <p id="box-1" class="details">box1</p>
        <img src="../static/images/Poland.jpg" id="pic1" class="details" alt="Poland">
        <p id="box-2" class="details">box2</p>
        <img src="../static/images/BGU%20radio.jpg" id="pic2" class="details" alt="radio">
        <p id="box-3" class="details">box3</p>
        <img src="../static/images/JCH.jpg" id="pic3" class="details" alt="JCH">
        <p id="box-4" class="details">box4</p>
        <img src="../static/images/KabalatShabatCamp.jpg" id="pic4" class="details" alt="KabalatShabatCamp">
        <p id="box-5" class="details">box5</p>
        <img src="../static/images/purim.jpeg" id="pic5" class="details" alt="purim">
    </div><!--close div class="details"-->

    <div class="footer">
        <h4 id="foot-1" class="footer">+972-54-123-4567</h4>
        <h4 id="foot-2" class="footer"><a href="{{ url_for('facebook_link') }}">Facebook</a></h4>
        <h4 id="foot-3" class="footer">liorras@post.bgu.ac.il</h4>
        <h4 id="foot-4" class="footer"><a href="{{ url_for('contact_me') }}">CONTACT ME!</a></h4>
    </div><!--close div class="footer"-->

    <div class="server-side">
        <h2 id="lecture8" class="server-side"><a href="{{ url_for('list_of_contacts') }}">contact list</a></h2>
        <h2 id="lecture9" class="server-side">thank you {{ name | default('visitor', true) }} for stopping by!</h2>
        <h2 id="assignment8" class="server-side"><a href="{{ url_for('assignment_8') }}">Assignment 8</a></h2>
        <h2 id="assignment9" class="server-side"><a href="{{ url_for('assignment_9') }}">Assignment 9</a></h2>
        <h2 id="assignment11" class="server-side"><a href="{{ url_for('assignment_11') }}">Assignment 11</a></h2>
        <!--<h2 id="assignment10" class="server-side">Assignment 10</h2>-->
    </div><!--close div class="server-side"-->
</div><!--close div class="grid-container"-->

</body>
</html>

