<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV-header</title>
</head>
<header>
    <div class="header">
        <h1 id="my-name" class="header">Lior Rasuli</h1>
        <h1 id="profession" class="header">Industrial Engineering and Management</h1>
        <img src="../static/images/pasport%20pic.png" id="facepic" class="header" alt="pasport"/>
    </div><!--close div class="header"-->
</header>
