<!DOCTYPE html>
<html>
<head>
    <title>CV Lior Rasuli</title>
    <style>
        body{ font-family: Calibri;
        background-color: #efd3d7ff;}
    </style>
</head>
<body>
    <h1>This is Lior Rasuli CV-site</h1>
    <h2>Planning and design</h2>
    <h3> UX questions</h3>
    <ol>
        <li>The target audience of the site: <br>
Recruiters workers in high-tech companies that specialize in big data analytics.</li>
        <li>Main purpose of the site: <br>
Attract the eye of the user, arouse interest and be neat at first look.
third.</li>
        <li>Secondary goals: <br>
- Show all the necessary information about me, with a design focus.<br>
- Clearly present the ways of communicating with me.</li>
        <li>Actions that the user should perform on the site:<br>
-Click on all the navigation buttons between the different mini-pages that display the various sections in the resume.<br>
-Use the contact platform by sending me an email.<br>
-Download my resume file.
</li>
        <li>Measures for success:<br>
- Time around of wandering the site, may it won't be short.<br>
- Receive a personal email from the user to contact for a job.</li>
        <li>Content world to which the site refers:<br>
The site addresses the high-tech world and human resources departments in these companies.
        </li>
    </ol>
    <h3> UI questions</h3>
    <ol>
        <li>Site structure, layout, GRID sketch: <br>
One page divided in the middle. Top section contains personal image, name, and profession. It has a back cover image.<br><br>
The middle and main section of the page contains a structure that varies according to the content into 4 stages:<br>
            -stage 1: WHO AM I - short personal summary.<br>
            <img src="Who%20AM%20I.PNG" style="max-width:20%;height:auto;"><br>
            -stage 2: Employment Experience (will be presented in the form of a timeline)<br>
            <img src="Work%20Experience.PNG" style="max-width:20%;height:auto;">.<br>
            -stage 3: EDUCATION (will be presented in the form of a timeline).<br>
            <img src="Education.PNG" style="max-width:20%;height:auto;"><br>
            -stage 4: additional skills - Professional Skillset, Languages. (will be displayed as a percentage)<br>
            <img src="Skillset.PNG" style="max-width:20%;height:auto;"><br>
            -stage 5: Interests, in order to present other aspects of myself that are beyond the field of employment.
            <br>(Will be displayed using circle buttons with a suitable icon. Hovering over the circle will display short text. Clicking on the circle will display a photo or personal video).<br>
            <img src="Hobbies%20and%20interest.PNG" style="max-width:20%;height:auto;"><br>
        Footer that will display name, email, phone number, link to CONTACT ME page for sending a quick email.<br>
        </li>
        <li>Color scheme:<br>
            /* CSS HEX */ <br>
            --manatee: #8e9aafff; <br>
            --languid-lavender: #cbc0d3ff; <br>
            --pale-pink: #efd3d7ff; <br>
            --pale-purple-pantone: #feeafaff; <br>
            --lavender-web: #dee2ffff; <br>
            <img src="colorschame5pic.PNG" alt=colorschame"><br>
        </li>
        <li>Fonts of the site:<br>
            mostly Arial Rounded MT Bold and Calibri
        </li>
        <li>files,images, videos:<br>
            -passport picture.<br>
            -general cover picture<br>
            -interests icons (music, hiking, sports, children, judaism, concerts)<br>
            -hiking picture.<br>
            -playing basketball picture.<br>
            -summercamp video.<br>
            -birthright group picture.<br>
            -concerts pictures.<br>
            -playing guitar video<br>
            -personal resume pdf file.<br>
        </li>
    </ol>
</body>
</html>