<!DOCTYPE html>
<html lang="en">
<head>
    <title>contact me form</title>
</head>
<body>
<h1 style="font-family: Arial Rounded MT; font-size: 30px;"> Send me a message, I'll be happy to talk!</h1>
<form>
    <label for="name" style="font-family: Arial Rounded MT; font-size: 20px;">name of organization: </label>
    <input type="text" id="name" name="organization name"><br>
    <label for="email" style="font-family: Arial Rounded MT; font-size: 20px;">Email of organization: </label>
    <input type="email" id="email" name="E-mail address"><br>
    <label for="phone" style="font-family: Arial Rounded MT; font-size: 20px;">phone for contact: </label>
    <input type="tel" id="phone" name="phone for contact"><br>
    <label for="message" style="font-family: Arial Rounded MT; font-size: 20px;">message content </label>
    <input type="textarea" id="message" name="message"><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>